<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAo0ZTKEDUpstnCDeZV30tkbXC_ogjdY9o</string>
	<key>GCM_SENDER_ID</key>
	<string>19311624947</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.unimatch.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>unimatch-6283a</string>
	<key>STORAGE_BUCKET</key>
	<string>unimatch-6283a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:19311624947:ios:8010a76f792ef277942d86</string>
</dict>
</plist>